img, svg {
  align-self: start;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #4b4a4a;
  border-color: #383838;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #4b4a4a;
  border-color: #4b4a4a;
  color: #fff;
}

a:hover {
  color: #4b4a4a;
}

a:hover {
  color: #4b4a4a;
}

.btn-primary {
  color: #fff;
  background-color: #4b4a4a;
  border-color: #4b4a4a;
}

a {
  color: #4b4a4a;
}

.wave{



}
